@import "styles/settings/__settings";

.project {

  h1 {
    font-size: 3em;
  }

  h2 {

    color: white;
    background-color: $color-purple;
    padding: .3em .5em;
    margin: 2em -.6rem 1em;

    &:first-child {
      margin-top: 0;
    }

  }

}